<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088509938140-e24if7364h0lr25usr102iegd7ac46p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088509938140-e24if7364h0lr25usr102iegd7ac46p8</string>
	<key>API_KEY</key>
	<string>AIzaSyBCUsJ1hNeP2ehh3b6NG7_a40LOE0VyYG0</string>
	<key>GCM_SENDER_ID</key>
	<string>1088509938140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>live.amey.ToDo</string>
	<key>PROJECT_ID</key>
	<string>ios-project-11c34</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-11c34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088509938140:ios:c581e74f9f38ee18556719</string>
</dict>
</plist>